*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.basePage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    width: 100vw;
    height: 100vh; 
}
.containerConnexion{
    grid-area: 1 / 1 / 2 / 2; 
}
.containerHome{
    grid-area: 1 / 1 / 2 / 2; 

}



